.name-container .name-title span {
  background-color: #29e743;
}
.name-container .name-title {
  font-family: Monaco, Consolas, Lucida Console, monospace;
  font-size: 4.5em;
  color: #29e743;
}

.name-container {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blink-me {
  animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  width: 500px;
  span {
    svg {
      height: auto;
      width: 100px;
    }
  }
}
